@font-face {
  font-family: "RuneScape UF";
  src: url("./fonts/runescape.ttf");
}

body {
  font-family: "RuneScape UF";
}

section {
  width: 100%;
}

img {
  width: 100%;
  display: block;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.tile {
  position: relative;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.3);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.3s;
}

.project {
  max-width: 1000px;
  margin: 80px auto;
  padding: 0 20px;
}

.project img {
  margin-bottom: 40px;
}

.back {
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 24px;
  text-decoration: none;
}

.fade-in {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeIn 1.5s ease forwards;
}

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 ratio */
  margin-top: 40px;
}

.video-container iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.video-link {
  display: inline-block;
  padding: 12px 24px;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  margin: 20px 0 15px 0; /* top 20px, bottom 15px for spacing */
  font-weight: bold;
}

.video-link:hover {
  background-color: #333;
}


@media (max-width: 768px) {
  .overlay {
    opacity: 1;
    background: rgba(0,0,0,0.3);
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.tile:hover .overlay {
  opacity: 1;
}
